@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
  .isActive {
    background-color: theme("colors.primary");
    border-radius: 20px;
    padding: 4px 16px
  }

  .nav {
    border: 1px solid transparent;
    border-radius: 20px;
    padding: 4px 16px;

    transition: all .3s ease-in-out;
  }

  .nav:not(.isActive):hover {
    border-color: theme("colors.accent");
    color: theme("colors.primary");
  }
}